* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    background-color: #242424;
}

td {
    text-align: center;
    background-color: rgb(5, 77, 5);
    width: 50px;
    height: 50px;
    border-radius: 1px;
}
sub {
    font-size: 14px;
    user-select: none;
    color: black;
    -webkit-text-stroke: 0;
    pointer-events: none;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 65% 1fr;
    grid-template-rows: 10% 1fr;
    grid-gap: 10px;
}

.left-container {
    color: white;
    margin-left: 45px; 
    position: relative;
    display: flex;
    justify-content: center;
    grid-row: 2 / 3;
}

.heading {
    font-size: 4rem;
    font-family: 'Times New Roman', serif;
    height: 4rem;
    line-height: 4rem;
}

.players-heading {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 10%;
}

.players-container {
    position: absolute;
    top: 15%;
    height: 55%;
    width: 300px;
    overflow-y: auto;
}

.players {
    font-size: 2rem;
}

.name-input {
    position: absolute;
    top: 70%;
    color: white;
    display: flex;
    margin: 0 auto;
    height: 4rem;
    align-items: center;
}

.name-input #name {
    height: 2.5rem;
    width: 10rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

.name-input #name:focus {
    outline: none;
}

.name-input #join-button {
    margin-left: 12px;
    vertical-align: middle;
}

.name-input #start-button {
    position: absolute;
    width: 100%;
    top: 100%;
}

.controls {
    position: absolute;
    top: 70%;
    color: white;
    display: flex;
    margin: 0 auto;
    height: 4rem;
    align-items: center;
}

.controls button {
    width: 16.25rem;
}

.controls #donebtn {
    position: absolute;
    top: 100%;
}

.board-container {
    position: relative;
    justify-content: center;
    align-items: center;
    top: 30%;
    grid-column: 2 / 3
}

.board {
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
}

.letters {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 3;    
}

.letter {
    background-color: white;
    width: 50px;
    height: 42px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(100, 100, 100);
    -webkit-text-stroke: 1.5px black;
    border-radius: 4px;
    box-shadow: inset 0 0 5px 2px rgba(0,0,0,0.7);
}

.tw {
    background-color:rgb(212, 6, 6);
}

.dw {
    background-color: rgb(255, 229, 113);
}

.tl {
    background-color: blue;
}

.dl {
    background-color:lightblue;
}

.button {
    background: #054d05;
    font-size: 2rem;
    color: white;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.selected {
    background-color: red !important;
}
.button:hover {
    background: #9e9e99;
}

.button:disabled {
    background: #646464;
    color: white;
}

.setInStone {
    background-color: grey !important;
}